<section class="card-section">
    <div class="container">
        <div class="card">
            <div>
                <img src="../../../assets/Images/email.png">
            </div>
            <h2>Email Address</h2>
            <p>website@gmail.com</p>
        </div>

        <div class="card">
            <div>
                <img src="../../../assets/Images/phone.png">
            </div>
            <h2>Phone Number</h2>
            <p>01234567890</p>
        </div>

        <div class="card">
            <div>
                <img src="../../../assets/Images/address.png">
            </div>
            <h2>Office Address</h2>
            <p>Sheikh Zayed, Ismailia</p>
        </div>
    </div>
</section>

<section class="contact-section">
    <h2>Get in touch</h2>
    <form method="post" [formGroup]="myContactForm">
        <div class="container1">
            <div>
                <input formControlName="fName" type="text" placeholder="Enter your first name" class="input" [ngClass]="
          !fNameValid && myContactForm.controls['fName'].value
            ? 'input-invalid'
            : myContactForm.controls['fName'].value
            ? 'input-valid'
            : ''
        " />
                <p *ngIf="!fNameValid && myContactForm.controls['fName'].value" style="color: red">
                    First name should be more than or equal 4 letters
                </p>
                <br>
                <input formControlName="email" type="text" placeholder="Enter your email" class="input" [ngClass]="
                  !emailValid && myContactForm.controls['email'].value
                    ? 'input-invalid'
                    : myContactForm.controls['email'].value
                    ? 'input-valid'
                    : ''
                " />
                <p *ngIf="!emailValid && myContactForm.controls['email'].value" style="color: red">
                    Email is not valid
                </p>
            </div>
            <div>
                <input formControlName="lName" type="text" placeholder="Enter your last name" class="input" [ngClass]="
                  !lNameValid && myContactForm.controls['lName'].value
                    ? 'input-invalid'
                    : myContactForm.controls['lName'].value
                    ? 'input-valid'
                    : ''
                " />
                <p *ngIf="!lNameValid && myContactForm.controls['lName'].value" style="color: red">
                    Last name should be more than or equal 4 letters
                </p>
                <br>
                <input formControlName="city" type="text" placeholder="Enter your city" class="input" [ngClass]="
                  !cityValid && myContactForm.controls['city'].value
                    ? 'input-invalid'
                    : myContactForm.controls['city'].value
                    ? 'input-valid'
                    : ''
                " />
                <p *ngIf="!cityValid && myContactForm.controls['city'].value" style="color: red">
                    City should be more than or equal 4 letters
                </p>
                <br>
            </div>
        </div>
        <div class="message">
            <input formControlName="message" type="text" placeholder="Enter your message" class="input" [ngClass]="
              !messageValid && myContactForm.controls['message'].value
                ? 'input-invalid'
                : myContactForm.controls['message'].value
                ? 'input-valid'
                : ''
            " />
            <p *ngIf="!messageValid && myContactForm.controls['message'].value" style="color: red">
                First name should be more than or equal 20 letters
            </p>
        </div>
    </form>
    <div class="check">
        <input type="checkbox">
        <p> Save my name, email, and website in this browser for the next time I comment.</p>
    </div>

    <div class="btn">
        <input type="submit" value="Get a Free Service" (click)="AddCon()" (click)="reset()">
    </div>
</section>

<!-- <section class="map-section">
    <div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109917.04271769382!2d32.30696601384596!3d30.580154149895247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f85956191e10b9%3A0x3b0933775b0f5b95!2z2KfZhNil2LPZhdin2LnZitmE2YrYqdiMINmF2LHZg9iyINin2YTYp9iz2YXYp9i52YrZhNmK2KnYjCDYp9mE2KXYs9mF2KfYudmK2YTZitip!5e0!3m2!1sar!2seg!4v1675791755216!5m2!1sar!2seg"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section> -->