<section class="news-section">
  <div class="container" *ngFor="let item of news">
    <div class="container-content">
      <h2>
        {{item.title}}
      </h2>
      <div class="content-para">
        <p>
          {{item.description}}
        </p>
      </div>
      <div class="content-points">
        <h3>Setting the mood with incense</h3>
        <div>
          <span class="material-symbols-outlined"> done </span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          </p>
        </div>
        <div>
          <span class="material-symbols-outlined"> done </span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          </p>
        </div>
        <div>
          <span class="material-symbols-outlined"> done </span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          </p>
        </div>
        <div>
          <span class="material-symbols-outlined"> done </span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          </p>
        </div>
      </div>
    </div>
    <div class="container-img">
      <img src="{{item.img}}" />
    </div>
  </div>
</section>
