<div class="cartBox">
  <h1 class="text-danger">shopping cart</h1>
  <div class="headCart">
    <p class="lead">
      you have <label class="text-danger">{{ cart?.items.length }}</label
      >item in your cart
    </p>
    <span class="text-danger card-header" (click)="clearCart()"
      >Clear Shopping Cart</span
    >
  </div>
  <table class="table" *ngIf="cart?.items.length > 0">
    <thead class="thead">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th style="width: 25%">Quantity</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of cart?.items">
        <td data-label="img"><img [src]="prod?.itemId.image" /></td>
        <td>{{ prod?.itemId.title }}</td>
        <td>{{ prod?.price }}</td>
        <td>
          <div class="quantity">
            <button class="btn-quantity"></button>
            <input
              class="form-control quantity-value"
              type="text"
              min="1"
              disabled
              [defaultValue]="prod.quantity"
            />
            <button class="btn-quantity"></button>
          </div>
        </td>

        <td>{{ prod?.price * prod?.quantity }} L.E</td>

        <td class="">
          <button
            class="btn btn-delete"
            (click)="
              removeCartItem(prod?.itemId._id, prod?.price, prod?.quantity)
            "
          >
            Remove
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="total">Total : {{ cart?.total }}</th>
        <th>
          <button class="btn btn-order" routerLink="/checkout">
            Order now
          </button>
        </th>
      </tr>
    </tfoot>
  </table>
  <!-- <div class="alert-success">
    <strong>WELL DONE! </strong>Your order is successfuly send
  </div> -->
</div>
