<div>
  <div class="header">
    <h1 class="page-title">About Us</h1>
  </div>
  <div class="row">
    <div>
      <img src="../../../assets/images/9.png" alt="" width="80%" />
    </div>
    <div>
      <h1>
        Your Faithful partners <br />
        Medical Goods
      </h1>

      <p class="para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates id,
      </p>
      <div class="symbol">
        <div class="icon-cont">
          <span class="material-symbols-outlined"> check_box </span>
          <h3>More products at lower prices.</h3>
        </div>
        <div class="icon-cont">
          <span class="material-symbols-outlined"> check_box </span>
          <h3>Connect customers with the power of eCommerce at all.</h3>
        </div>
        <div class="icon-cont">
          <span class="material-symbols-outlined"> check_box </span>
          <h3>Better security for patient privacy and information.</h3>
        </div>
        <hr />
      </div>
      <div class="mobile-icon">
        <span class="material-symbols-outlined"> phone_in_talk </span>
        <div>
          <small style="font-size: medium; color: grey">Get Support</small>
          <h4>123-456-789-10</h4>
        </div>
      </div>
    </div>
  </div>

  <!--features-->
  <h1 class="heading">Features</h1>

  <div class="features">
    <div class="card">
      <img src="../../../assets/images/24.png" />
      <div class="container">
        <h3 class="card-title"><b>Free Delivery</b></h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, vero
          fugit!
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/25.png" />
      <div class="container">
        <h3 class="card-title"><b>100% Cash Back</b></h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, vero
          fugit!
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/26.png" />
      <div class="container">
        <h3 class="card-title"><b>Quality Product</b></h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, vero
          fugit!
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/27.png" />
      <div class="container">
        <h3 class="card-title"><b>24/7 Support</b></h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, vero
          fugit!
        </p>
      </div>
    </div>
  </div>
  
  <!---testimonials-->
  <h1 class="heading">Clients Feedbacks.</h1>

  <div class="testimonials">
    <figure class="snip1157">
      <blockquote>
        Calvin: You know sometimes when I'm talking, my words can't keep up with
        my thoughts... I wonder why we think faster than we speak. Hobbes:
        Probably so we can think twice.
        <div class="arrow"></div>
      </blockquote>
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg"
        alt="sq-sample3"
      />
      <div class="author">
        <h5>Pelican Steve <span> LIttleSnippets.net</span></h5>
      </div>
    </figure>
    <figure class="snip1157">
      <blockquote>
        Thank you. before I begin, I'd like everyone to notice that my report is
        in a professional, clear plastic binder...When a report looks this good,
        you know it'll get an A. That's a tip kids. Write it down.
        <div class="arrow"></div>
      </blockquote>
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample27.jpg"
        alt="sq-sample27"
      />
      <div class="author">
        <h5>Max Conversion<span> LIttleSnippets.net</span></h5>
      </div>
    </figure>
    <figure class="snip1157">
      <blockquote>
        My behaviour is addictive functioning in a disease process of toxic
        co-dependency. I need holistic healing and wellness before I'll accept
        any responsibility for my actions.
        <div class="arrow"></div>
      </blockquote>
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg"
        alt="sq-sample17"
      />
      <div class="author">
        <h5>Eleanor Faint<span> LIttleSnippets.net</span></h5>
      </div>
    </figure>
  </div>

  <!-- FAQ-->
  <h1 class="heading">Some Questions</h1>

  <div class="FAQ">
    <div class="faq-container">
      <div class="faq-q">
        <details>
          <summary>How to buy a product?</summary>
          <div>
            The tags <em>details</em> and <em>summary</em> have you covered.
          </div>
        </details>
        <hr />
        <details>
          <summary>How to buy a product?</summary>
          <div>
            The tags <em>details</em> and <em>summary</em> have you covered.
          </div>
        </details>
        <hr />

        <details>
          <summary>How to buy a product?</summary>
          <div>
            The tags <em>details</em> and <em>summary</em> have you covered.
          </div>
        </details>
      </div>
    </div>
    <div class="faq-img">
      <img src="../../../assets/images/100.jpg" width="90%" alt="" />
    </div>
  </div>
  <!-- why choose us -->
  <div class="con" >
    <h1  class="heading">Why Choose Us</h1>
    
    <div class="container-chooseUs">

    <div class="choose-container">
      <div class="icon-choose">
        <i class="fa-solid fa-hand-holding-medical"></i>
   <div > <h2>Pesticide Free Goods</h2></div>
      </div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vero quo nemo aperiam veritatis sed reiciendis</div>
    </div>
    <div class="choose-container">
      <div class="icon-choose">
        <i class="fa-solid fa-microscope "></i>
   <div> <h2>Pesticide Free Goods</h2></div>
      </div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vero quo nemo aperiam veritatis sed reiciendis</div>
    </div>
    <div class="choose-container">
      <div class="icon-choose">
        <i class="fa-solid fa-stethoscope"></i>
   <div> <h2>Pesticide Free Goods</h2></div>
      </div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vero quo nemo aperiam veritatis sed reiciendis</div>
    </div>
    </div>
  </div>
</div>
