<section class="register-section">
  <p class="signup-error">{{ signUpMsg }}</p>
  <form method="post" [formGroup]="myRegisterationForm">
    <div>
      <h2>Register Your Account</h2>
    </div>
    <div class="form-group">
      <input
        formControlName="email"
        type="text"
        placeholder="Enter your email"
        class="input"
        [ngClass]="
          !emailValid && myRegisterationForm.controls['email'].value
            ? 'input-invalid'
            : myRegisterationForm.controls['email'].value
            ? 'input-valid'
            : ''
        "
      />
      <p
        *ngIf="!emailValid && myRegisterationForm.controls['email'].value"
        style="color: #f87171"
      >
        Email is not valid
      </p>
      <br />
      <div class="form__password">
        <div>
          <input
            formControlName="password"
            type="password"
            placeholder="Enter your password"
            class="input"
            [ngClass]="
              !passwordValid && myRegisterationForm.controls['password'].value
                ? 'input-invalid'
                : myRegisterationForm.controls['password'].value
                ? 'input-valid'
                : ''
            "
          />
          <p
            *ngIf="
              !passwordValid && myRegisterationForm.controls['password'].value
            "
            style="color: #f87171"
          >
            6 < Password < 16
          </p>
        </div>
        <div>
          <input
            formControlName="confirmPassword"
            type="password"
            placeholder="Confirm password"
            class="input"
            [ngClass]="
              passwordMatchError
                ? 'input-invalid'
                : myRegisterationForm.controls['confirmPassword'].value
                ? 'input-valid'
                : ''
            "
          />
          <p *ngIf="passwordMatchError" style="color: #f87171">
            Password does not match
          </p>
        </div>
      </div>

      <br />
      <div class="form__names">
        <div>
          <input
            formControlName="name"
            type="text"
            placeholder="Enter your name"
            class="input"
            [ngClass]="
              !nameValid && myRegisterationForm.controls['name'].value
                ? 'input-invalid'
                : myRegisterationForm.controls['name'].value
                ? 'input-valid'
                : ''
            "
          />
          <p
            *ngIf="!nameValid && myRegisterationForm.controls['name'].value"
            style="color: #f87171"
          >
            name should be more than or equal 4 letters
          </p>
        </div>
        <div>
          <input
            formControlName="city"
            type="text"
            placeholder="Enter your city"
            class="input"
            [ngClass]="
              !cityValid && myRegisterationForm.controls['city'].value
                ? 'input-invalid'
                : myRegisterationForm.controls['city'].value
                ? 'input-valid'
                : ''
            "
          />
          <p
            *ngIf="!cityValid && myRegisterationForm.controls['city'].value"
            style="color: #f87171"
          >
            City should be more than or equal 4 letters
          </p>
        </div>
      </div>
      <br />
      <label for="profileImage" class="image-label btn"
        >Upload Profile Image</label
      >
      <input
        type="file"
        id="profileImage"
        class="image-input"
        name="profileImage"
        accept="image/png, image/jpg, image/gif, image/jpeg"
        #profilePic
      />
    </div>

    <div class="create">
      <!-- <div class="check">
        <input type="checkbox" />
        <p>By clicking "create account", I consent to the privacy policy.</p>
      </div> -->

      <div class="register-btn-container">
        <button
          class="btn"
          (click)="signup($event, profilePic.files ? profilePic.files[0] : '')"
        >
          CREATE ACCOUNT
        </button>
      </div>
      <div class="terms-con">
        <p>By creating an account, you agree to our:</p>
        <ul>
          <li><a routerLink="/terms">TERMS OF CONDITIONS</a></li>
          <li><a routerLink="/privacy" class="devide">| PRIVACY POLICY</a></li>
        </ul>
      </div>
    </div>
  </form>
</section>
