<section class="register-section">
  <form method="post" [formGroup]="myRegisterationForm">
    <div>
      <h2>Register Your Account</h2>
    </div>
    <div class="form-group">
      <input
        formControlName="email"
        type="text"
        placeholder="Enter your email"
        class="input"
        [ngClass]="
          !emailValid && myRegisterationForm.controls['email'].value
            ? 'input-invalid'
            : myRegisterationForm.controls['email'].value
            ? 'input-valid'
            : ''
        "
      />
      <p
        *ngIf="!emailValid && myRegisterationForm.controls['email'].value"
        style="color: red"
      >
        Email is not valid
      </p>
      <br />
      <input
        formControlName="password"
        type="text"
        placeholder="Enter your password"
        class="input"
        [ngClass]="
          !passwordValid && myRegisterationForm.controls['password'].value
            ? 'input-invalid'
            : myRegisterationForm.controls['password'].value
            ? 'input-valid'
            : ''
        "
      />
      <p
        *ngIf="!passwordValid && myRegisterationForm.controls['password'].value"
        style="color: red"
      >
        6 < Password < 16
      </p>
      <br />
      <div class="form__names">
        <div>
          <input
            formControlName="firstName"
            type="text"
            placeholder="Enter your first name"
            class="input"
            [ngClass]="
              !fNameValid && myRegisterationForm.controls['firstName'].value
                ? 'input-invalid'
                : myRegisterationForm.controls['firstName'].value
                ? 'input-valid'
                : ''
            "
          />
          <p
            *ngIf="
              !fNameValid && myRegisterationForm.controls['firstName'].value
            "
            style="color: red"
          >
            First name should be more than or equal 4 letters
          </p>
        </div>
        <div>
          <input
            formControlName="secondName"
            type="text"
            placeholder="Enter your second name"
            class="input"
            [ngClass]="
              !lNameValid && myRegisterationForm.controls['secondName'].value
                ? 'input-invalid'
                : myRegisterationForm.controls['secondName'].value
                ? 'input-valid'
                : ''
            "
          />
          <p
            *ngIf="
              !lNameValid && myRegisterationForm.controls['secondName'].value
            "
            style="color: red"
          >
            Second name should be more than or equal 4 letters
          </p>
        </div>
      </div>

      <br />
      <input
        formControlName="city"
        type="text"
        placeholder="Enter your city"
        class="input"
        [ngClass]="
          !cityValid && myRegisterationForm.controls['city'].value
            ? 'input-invalid'
            : myRegisterationForm.controls['city'].value
            ? 'input-valid'
            : ''
        "
      />
      <p
        *ngIf="!cityValid && myRegisterationForm.controls['city'].value"
        style="color: red"
      >
        City should be more than or equal 4 letters
      </p>
      <br />
    </div>

    <div class="create">
      <!-- <div class="check">
        <input type="checkbox" />
        <p>By clicking "create account", I consent to the privacy policy.</p>
      </div> -->

      <div class="register-btn-container">
        <button class="btn">CREATE ACCOUNT</button>
      </div>
      <div class="terms-con">
        <p>By creating an account, you agree to our:</p>
        <ul>
          <li><a routerLink="/terms">TERMS OF CONDITIONS</a></li>
          <li><a routerLink="/privacy" class="devide">| PRIVACY POLICY</a></li>
        </ul>
      </div>
    </div>
  </form>
</section>
