
<section class="footer-section">
    <div class="panner">
        <div class="head">
            <h1>Buy medical disposable products
                to protect your loved ones</h1>
        </div>
        <div class="btn1">
                <input type="button" value="Explore Products">
                <!-- <span class="material-symbols-outlined">east</span> -->
        </div>
    </div>
    <div class="container">
        <div>
            <div class="site-logo">
                <img src="../../../assets/Images/logo.png" alt="Logo">
                <p>Lorem Ipsum is simply dummy text of the and typesetting industry.</p>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                            <div>
                                <span class="material-symbols-outlined">location_on</span>
                            </div>
                            <div>
                                <p>Sheikh Zayed, Ismailia</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <div>
                                <span class="material-symbols-outlined">phone_in_talk</span>
                            </div>
                            <div>
                                <p><a href="tel:+0123-456789">+0123-456789</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <div>
                                <span class="material-symbols-outlined">mail</span>
                            </div>
                            <div>
                                <p><a href="mailto:example@example.com">example@example.com</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="category">
            <div>
                <h4>Company</h4>
                <div class="list1">
                    <ul>
                        <li><a routerLink="#">About</a></li>
                        <li><a routerLink="#">All Products</a></li>
                        <li><a routerLink="#">Locations Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="category">
            <div>
                <h4>Services</h4>
                <div class="list1">
                    <ul>
                        <li><a routerLink="#">Login</a></li>
                        <li><a routerLink="#">My account</a></li>
                        <li><a routerLink="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="category">
            <div>
                <h4>Customer Care</h4>
                <div class="list1">
                    <ul>
                        <li><a routerLink="#">Order tracking</a></li>
                        <li><a routerLink="#">FAQ</a></li>
                        <li><a routerLink="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer1-section">
    <div class="footer">
        <div class="rights">
            <p>All Rights Reserved @ Company <span class="current-year">2023</span></p>
        </div>
        <div class="terms">
            <div>
                <ul>
                    <li><a routerLink="#">Terms &amp; Conditions</a></li>
                    <li><a routerLink="#">Claim</a></li>
                    <li><a routerLink="#">Privacy &amp; Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>