<div *ngIf="showOverlay">
  <div class="overlay" (click)="hideMenu()"></div>
</div>

<div class="header-container">
  <section class="header-section2">
    <div class="container2">
      <div>
        <span class="material-symbols-outlined"> mail </span>
        <p>www.website.com</p>
      </div>
      <div>
        <span class="material-symbols-outlined"> location_on </span>
        <p>Ismailia - ITI</p>
      </div>
    </div>
  </section>

  <section class="header-section1" *ngIf="isNotHome">
    <div class="container1">
      <div class="container1--img">
        <img src="/assets/Images/logo.png" />
      </div>
      <div class="container1--search">
        <span class="material-symbols-outlined"> search </span>
        <input type="text" placeholder="Search here..." />
      </div>
      <div class="container1--cart">
        <div>
          <span class="material-symbols-outlined"> person </span>
          <span
            class="material-symbols-outlined"
            *ngIf="isLogged"
            (click)="showCart()"
          >
            shopping_cart
          </span>
        </div>
        <div *ngIf="isLogged">
          <p routerLink="/cart">Your Cart</p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="header-section header-nav-section"
    [ngClass]="!isNotHome ? 'nav-home' : ''"
  >
    <div class="container">
      <div>
        <img src="/assets/Images/logo2.png" />
      </div>
      <div>
        <span
          class="material-symbols-outlined mobile-menu-open"
          (click)="showMenu()"
        >
          menu
        </span>
        <ul class="nav-list">
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
          <li><a routerLink="/item" routerLinkActive="active">Item</a></li>
          <li *ngIf="!isLogged">
            <a routerLink="/register" routerLinkActive="active">Sign up</a>
          </li>
          <li *ngIf="!isLogged">
            <a routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li *ngIf="isLogged">
            <a (click)="logout()">Logut</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="container1--cart">
        <div>
          <span class="material-symbols-outlined"> person </span>
          <span
            class="material-symbols-outlined"
            *ngIf="isLogged"
            (click)="showCart()"
          >
            shopping_cart
          </span>
        </div>
        <div *ngIf="isLogged">
          <p routerLink="/cart">Your Cart</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="mobile-side-menu" #sideMenu>
  <div class="mobile-menu-container">
    <span
      class="material-symbols-outlined mobile-menu__close-btn"
      (click)="hideMenu()"
    >
      close
    </span>
    <div class="side-menu__content">
      <div class="side-search">
        <input type="text" class="input" placeholder="Search..." />
        <div class="search-icon">
          <span class="material-symbols-outlined"> search </span>
        </div>
      </div>
      <div class="side-menu__list-container">
        <ul class="side-menu__list">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/item">Item</a></li>
          <li>
            <a routerLink="/register">Sign up</a>
          </li>
          <li><a routerLink="/login">Login</a></li>
          <li>
            <a routerLink="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="side-menu__account-options">
        <div>
          <span class="material-symbols-outlined"> person </span>
          <h4>My Account</h4>
        </div>
        <div>
          <span class="material-symbols-outlined" (click)="showCart()">
            shopping_cart
          </span>
          <h4>Shopping Cart</h4>
        </div>
      </div>
      <div class="mobile-side-menu__contact">
        <div>
          <span class="material-symbols-outlined"> mail </span>
          <p>www.website.com</p>
        </div>
        <div>
          <span class="material-symbols-outlined"> location_on </span>
          <p>Ismailia - ITI</p>
        </div>
      </div>
    </div>
  </div>
</div>
