@import "../../../sass/abstract/variables";
@import "../../../sass/abstract/mixins";

.privacy-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .container {
    margin-top: 8rem;
    display: flex;
    justify-content: space-around;
    line-height: 2.9rem;
    font-family: $font;

    .contain {
      width: 80%;

      h1 {
        margin-bottom: 5rem;
        font-size: 4rem;
      }

      h2,
      h5 {
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2rem;
      }

      span {
        color: $white-color;
        background-color: $primary-color;
      }
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem;
    width: 80%;
    p {
      margin: 0 3rem 3rem 0;
    }

    h2 {
      margin-left: 1.1rem;
      margin-bottom: 1.5rem;
    }

    .cards-icon {
      display: flex;

      span {
        color: $primary-color;
        font-size: 3.5rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .privacy-section {
    .container {
      .contain {
        width: 90%;
      }
    }
    .cards {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .cards {
    flex-direction: column;
  }
}
