<section class="privacy-section">
<div class="container">
    <div class="contain">
        <h1>Privacy Policy</h1>
        <h2>When you share your information</h2>
        <p>We respect the privacy of visitors to our site. This Privacy Policy explains some of the steps we have taken
            to protect your privacy.</p>

        <h2>Privacy Of Personal Information</h2>
        <p>Personal information” means any information that may be used to identify an individual. Personal information
            includes information such as your name, address, telephone number, e-mail address, and other similar
            information.</p>

        <ul>
            <li>
                <h5>COLLECTION OF PERSONAL INFORMATION</h5>
            </li>
            <p>We collect personal information about you, including personal information that you provide when you
                register
                to use this site (as described above). You may access and browse some of our website without disclosing
                personal information. Please be aware, however, that providing certain requested information may be
                necessary for you to participate in particular features or services described on this site.</p>
            <li>
                <h5>USE OF PERSONAL INFORMATION</h5>
            </li>
            <p>Personal information collected through our website is used by us to, among other things, process and
                manage
                registrations, operate and improve our website, track site usage policies and statistics, make the sites
                or
                services easier to use by eliminating the need for you to repeatedly enter the same information, and for
                other purposes pursuant to your consent. We also use your personal information to communicate with you
                in
                other ways.</p>
        </ul>

        <h2>Security</h2>
        <p>We have implemented procedures to help protect the personal information that you provide to us. However, no
            method of transmitting or storing electronic data is ever completely secure, and we cannot guarantee that
            such information will never be accessed, used, or released in a manner that is inconsistent with this
            policy.</p>

        <h2>Changes To This Privacy Statement</h2>
        <p>We may update this Privacy Policy in the future. We will notify you about material changes to this Privacy
            Policy by sending a notice to the e-mail address you provided to us or by placing a prominent notice on the
            Rx Response website.</p>

    </div>
</div>
<div class="cards">
    <div>
        <div>
            <div class="cards-icon">
            <span class="material-symbols-outlined">
                health_and_safety
            </span>
            <h2>Safety Center</h2>
        </div>
            <p>We may collect other, non-personal information including the pages you view, the links
                you click, and other actions taken in connection with your use of our website.</p>
        </div>

        <div>
            <div class="cards-icon">
            <span class="material-symbols-outlined">
                account_circle
            </span>
            <h2>Account</h2>
        </div>
            <p>We may also collect certain standard information that your browser sends to every website you visit, such
                as your Internet address, browser type and language.</p>
        </div>
    </div>

    <div>
        <div>
            <div class="cards-icon">
            <span class="material-symbols-outlined">
                admin_panel_settings
            </span>
            <h2> Security Principles</h2>
            </div>
            <p>We may use “cookies” (a unique identifier text file) and web beacons to gather non-personal
                information, including information about your experience with our website.</p>
        </div>

        <div>
            <div class="cards-icon">
            <span class="material-symbols-outlined">
                badge
            </span>
            <h2>Product Privacy Guide</h2>
            </div>
            <p>If we do combine non-personal information with personal information in accordance with the practices for personal information that are described in this Privacy
                Policy.</p>
        </div>
    </div>
</div>
</section>
