<section class="terms-section">
    <div class="container">
        <div class="contain">
            <h1>Terms & Conditions</h1>
            <div class="list">
                <ol>
                    <li>If there is any discrepancy between the wording of this Agreement and the wording of TOT, the
                        wording of this
                        Agreement shall prevail. Save as may be amended by this Agreement, TOT shall remain in full
                        force and effect.
                    </li>
                    <li>The Licensed Material is not sold to Customer who shall not acquire any right, sale or interest
                        in the Licensed
                        Material.</li>
                    <li>Customer, shall not erase, remove, deface or cover any trademark, copyright notice, guarantee or
                        other statement
                        on the Licensed Material.</li>
                    <li>The Licensed Material is supplied to Customer on an "as is" basis and has not been supplied to
                        meet Customer's
                        individual requirements. The Licensed Material requires an Adobe Acrobat reader.</li>
                    <li>Whilst all reasonable care has been taken to exclude computer viruses, no warranty is made that
                        the Licensed
                        Material is virus free. Customer shall be responsible to ensure that no virus is introduced to
                        any computer or
                        network and shall not hold Supplier responsible.</li>
                    <li>Customer shall accept sole responsibility for and Supplier shall not be liable for the use of
                        the Licensed
                        Material by Customer, its agents and employees.</li>
                    <li>It is the sole responsibility of Customer to satisfy itself prior to entering this Agreement
                        that the Licensed
                        Material will meet Customer's requirements and be compatible with Customer's hardware/software
                        configuration.
                    </li>
                    <li>You may not copy or distribute by any means whatsoever a contract except one prepared for and,
                        if relevant,
                        executed by the parties to a specific construction project may be copied.</li>
                    <li>You may not remove, change or obscure any product identification or notices of proprietary
                        rights and
                        restrictions.</li>
                    <li>The Licensed Material may not be stored or used in any form of database whether current or
                        archival which is
                        intended for the storage, and/or provision to its users, of access to know-how.</li>
                    <li>Except as expressly permitted by this Agreement, Customer may not transmit, sub-licence, copy,
                        publish or
                        resell, or permit others to transmit, sub-licence, copy, publish or resell, the Licensed
                        Material either on its
                        own or as part of other content.</li>
                    <li>You should wish to use the contract in conference proceedings you must obtain the prior consent
                        of Sweet &
                        Maxwell and a charge may be payable in respect of such permission.</li>
                    <li>Customer shall not transfer, sub-licence, assign or otherwise dispose of this Agreement in whole
                        or in part.</li>
                    <li>In the event of termination of this Agreement Customer will delete the Licensed Material.</li>
                </ol>
            </div>
        </div>
    </div>
</section>