@import '../../../sass/abstract/variables';

.terms-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .container {
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
        line-height: 1.8rem;
        font-family: $font;

        .contain {
            width: 850px;

            h2 {
                margin-bottom: 50px;
                font-size: 40px;
            }

            .list {
                ol {
                    li {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {

    .terms-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .container {
            .contain {
                width: 350px;

                h2 {
                    margin-bottom: 30px;
                    font-size: 20px;
                }

                .list {
                    ol {
                        li {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 992px) {

    .terms-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .container {
            .contain {
                width: 600px;

                h2 {
                    margin-bottom: 40px;
                    font-size: 30px;
                }
            }
        }
    }
}