@import "../../../sass/abstract/variables";
@import "../../../sass/abstract/mixins";
@import "../../../sass//components/input";
@import "../../../sass//components/btn";

// Overlay
.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: $black-color;
  opacity: 0.7;
}

// NOTE  Div appear with overlay
.div-overlay {
  @include ver-centering;
  justify-content: space-evenly;
  width: 55%;
  height: 50%;
  background-color: $white-color;
  opacity: 1;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 4px;
  .img {
    width: 50%;
    min-width: 20rem;
    height: 95%;
    flex: 1;
    img {
      height: 100%;
      width: 95%;
    }
  }

  div {
    padding-right: 1.6rem;
    width: 50%;
    h2 {
      margin-bottom: 2rem;
    }

    h1 {
      font-size: 3rem;
      font-weight: $font;
      color: $primary-color;
      margin-bottom: 3rem;
    }

    hr {
      margin-bottom: 3rem;
      border-color: $border-color;
    }

    p {
      margin: 3rem 0;
    }

    .order {
      @include ver-centering;

      ul {
        display: flex;

        li {
          margin-right: 1.9rem;
          list-style: $list-style;
          @include centering;
          border: 1px solid $dark-gray-color;
          font-weight: 700;
          color: black;
          font-size: 1.9rem;

          .cart-plus-minus {
            @include centering;
            gap: 2.4rem;
            color: $dark-gray-color;
          }

          div {
            height: $btnHeight;
            display: inline-block;
            padding: 2.2rem 1.6rem;
            cursor: $cursor;

            input {
              width: 5.6rem;
              text-align: center;
              border: none;
              border: 1px solid $border-color;
              padding: 2.1rem 1.6rem;
              outline: $primary-color;
            }
          }

          button {
            width: $btnWidth;
            height: $btnHeight;
            background-color: $primary-color;
            border: none;
            color: $white-color;
            font-weight: $font;
            text-transform: uppercase;
            font-size: $faq-size;
            cursor: $cursor;

            &:hover {
              background-color: $black-color;
            }
          }
        }
      }
    }
  }
}

// NOTE  modal for cart

.div-cart {
  @include ver-centering;
  justify-content: space-evenly;
  width: 48rem;
  height: 22rem;
  background-color: $white-color;
  opacity: 1;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .img {
    img {
      width: 15rem;
    }
  }

  div {
    h4 {
      font-size: 2rem;
    }

    .icon {
      display: flex;

      span {
        color: $primary-color;
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
      }

      p {
        margin: 2rem 0;
        display: inline-block;
      }
    }

    div {
      display: flex;
      justify-content: space-around;

      button {
        color: $white-color;
        width: 11rem;
        border: none;
        height: 3.5rem;
        border-radius: 2px;
        cursor: $cursor;
      }

      .btn1 {
        background-color: $primary-color;

        &:hover {
          color: $primary-color;
          background-color: $white-color;
          border: 1px solid $black-color;
        }
      }

      .btn2 {
        background-color: $black-color;

        &:hover {
          color: $black-color;
          background-color: $white-color;
          border: 1px solid $primary-color;
        }
      }
    }
  }
}

// IMPORTANT  main content
.shop-container {
  margin-top: 4rem;

  @include hor-centering;
  align-items: flex-start;
  gap: 3.2rem;
  .items-wrapper {
    @include ver-centering;
    // justify-content: flex-end;
    gap: 3.2rem;
    width: 50%;
    flex-wrap: wrap;
    .item {
      width: 30%;
      // NOTE  border may be removed here
      border: 1px solid $light-gray-color;
      border-radius: 8px;
      cursor: $cursor;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      transition: 0.3s box-shadow;
      position: relative;
      // box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      &__img {
        width: 100%;
        padding: 1rem;
        border-radius: 8px;
        img {
          border-radius: 2px;
          width: 100%;
        }
      }
      &__content {
        text-align: center;
        margin: 2.4rem 0;
        padding: 0 1.6rem;
        h4 {
          font-size: 1.8rem;
          margin-bottom: 1.6rem;
        }
        p {
          color: $primary-color;
          font-weight: bold;
          font-family: $font;
        }
      }
      &__hover {
        @include ver-centering;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
        color: $dark-gray-color;
        opacity: 0;
        translate: 0 -1.6rem;
        transition: 0.3s all;
        div {
          padding: 1rem 1.6rem;
          transition: 0.2s all;
          span {
            font-size: 2.2rem;
          }
          &:first-child {
            border-right: 1px solid $light-gray-color;
          }
          &:hover {
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
      &:hover {
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
          0 8px 10px -6px rgb(0 0 0 / 0.1);
        .item__hover {
          translate: 0 1.6rem;
          opacity: 1;
        }
      }
    }
  }
  .shop-filters {
    border: 2px solid $light-gray2-color;
    width: 20%;
    height: 60vh;
    padding: 4rem;
    h3 {
      font-weight: bold;
      font-size: 2.4rem;
      margin-bottom: 4rem;
    }
    &__list {
      list-style: none;
      &-item {
        button {
          border: none;
          background-color: transparent;
          font-size: 1.8rem;
          margin-bottom: 1.6rem;
          color: $dark-gray-color;
          cursor: $cursor;
          transition: color 0.3s;
          padding: 0.8rem 0.8rem;

          &:hover {
            color: $primary-color;
          }
        }
      }
      .active {
        width: 75%;
        border-radius: 2px;
        button {
          text-align: start;
          width: 100%;
          background-color: $primary-color;
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
.shop-pagination {
  @include hor-centering;
  width: 100%;
  gap: 1.6rem;
  margin: 2.4rem 0;
  .page {
    text-align: center;
    background-color: $primary-color;
    padding: 0.8rem 0;
    width: 4rem;
    cursor: $cursor;
    color: #fff;
    border-radius: 2px;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.3s all;
    &:hover {
      background-color: darken($primary-color, 10);
    }
  }
}

@media only screen and (max-width: 1366px) {
  .div-overlay {
    width: 66%;
  }
  .shop-container {
    .items-wrapper {
      width: 66%;
    }
    .shop-filters {
      width: 26%;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .div-overlay {
    .order_list {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }
}
@media only screen and (max-width: 992px) {
  .shop-container {
    .items-wrapper {
      width: 60%;
      .item {
        width: 47%;
      }
    }
    .shop-filters {
      width: 31%;
    }
  }
}

@media only screen and (max-width: 854px) {
  .shop-container {
    flex-direction: column;
    align-items: center;
    .items-wrapper {
      width: 80%;
      justify-content: center;
      .item {
        width: 47%;
      }
    }
    .shop-filters {
      width: 80%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .div-overlay {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .div-cart {
    width: 85%;
  }
  .div-overlay {
    padding: 2.4rem 0;
    flex-direction: column;
    height: 80%;
    gap: 0.8rem;
    .img {
      padding: 0.8rem;
      width: 70%;
      height: 40%;
      text-align: center;
    }
    div {
      width: 60%;
    }
  }

  .shop-container {
    .items-wrapper {
      width: 95%;
      justify-content: center;
      gap: 1.6rem;
      .item {
        width: 47%;
      }
    }
    .shop-filters {
      width: 95%;
    }
  }
}

@media only screen and (max-width: 468px) {
  .div-cart {
    height: 25%;
    width: 90%;
    div {
      gap: 1.6rem;
      // flex-direction: column;
    }
  }
}
@media only screen and (max-width: 379px) {
  .div-cart {
    div {
      flex-direction: column;
    }
  }
}
