<!-- NOTE  OVERLAY -->
<div *ngIf="toggleOverlay">
  <div class="overlay" (click)="toggleClose()"></div>
  <div class="div-overlay" *ngIf="toggleProduct">
    <div class="img">
      <img [src]="selectedProduct.image" />
    </div>
    <div>
      <h2>{{ selectedProduct.title }}</h2>
      <h1>${{ selectedProduct.price }}</h1>
      <hr />
      <p>Categories: Parts Car Seat Cover</p>
      <hr />
      <div class="order">
        <ul class="order_list">
          <li>
            <div class="cart-plus-minus">
              <div (click)="decrease()">&minus;</div>
              <span class="item-controls__quantity-value">{{ quantity }}</span>
              <div (click)="increase()">+</div>
            </div>
          </li>
          <li class="order--btn">
            <button (click)="addToCart()">Add to Cart</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="div-cart" *ngIf="!toggleProduct">
    <div class="img">
      <img [src]="selectedProduct.image" />
    </div>
    <div>
      <h4>{{ selectedProduct.title }}</h4>
      <div class="icon">
        <span class="material-symbols-outlined"> verified </span>
        <p>Successfully added to your Cart</p>
      </div>
      <div>
        <button class="btn1" routerLink="/cart">View cart</button>
        <button class="btn2">Checkout</button>
      </div>
    </div>
  </div>
</div>

<!-- NOTE  CONTENT -->
<section>
  <div class="shop-container">
    <div class="items-wrapper">
      <div class="item" *ngFor="let prod of products">
        <div [routerLink]="'/item/' + prod._id">
          <div class="item__img">
            <img [src]="prod.image" alt="title" />
          </div>
          <div class="item__content">
            <h4>{{ prod.title }}</h4>
            <p>{{ prod.price }} L.E</p>
          </div>
        </div>
        <div class="item__hover">
          <div (click)="addOverlay(prod, true)">
            <span class="material-symbols-outlined"> visibility </span>
          </div>
          <div (click)="addOverlay(prod)">
            <span class="material-symbols-outlined"> shopping_cart </span>
          </div>
        </div>
      </div>
      <div class="shop-pagination" *ngIf="pages?.numberOfPages > 1">
        <div class="page" *ngIf="pages?.prev" (click)="paginate(pages?.prev)">
          {{ pages?.prev }}
        </div>
        <div class="page" (click)="paginate(pages?.currentPage)">
          {{ pages?.currentPage }}
        </div>
        <div class="page" *ngIf="pages?.next" (click)="paginate(pages?.next)">
          {{ pages?.next }}
        </div>
      </div>
    </div>
    <div class="shop-filters">
      <h3>Product Categories</h3>
      <ul class="shop-filters__list">
        <li
          class="shop-filters__list-item"
          *ngFor="let cate of categories"
          [ngClass]="currentCate === cate ? 'active' : ''"
        >
          <button (click)="currentCate = cate">{{ cate }}</button>
        </li>
      </ul>
    </div>
  </div>
</section>
