<section class="banner-section">
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="10"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    [scrollbar]="{ draggable: true }"
    [loop]="true"
    [autoplay]="{ delay: 2500, disableOnInteraction: true }"
    [coverflowEffect]="{
      slideShadows: true,
      rotate: 15,
      stretch: 15,
      depth: 5,
      modifier: 5
    }"
  >
    <ng-template swiperSlide>
      <div
        class="slide-container"
        style="
          background: url('/assets/Images/slider/1.jpg');
          background-size: cover;
        "
      >
        <div class="slide-content">
          <div>
            <span class="material-symbols-outlined icon"> vital_signs </span>
            <span>100% geniune Medicine</span>
          </div>
          <h2>WELCOME TO OUR SHOP</h2>
          <button class="btn slider-btn">Shop Now</button>
        </div>
      </div>
      <!-- <div></div>  add background-image on div and put the text inside the div-->
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="slide-container"
        style="
          background: url('/assets/Images/slider/2.jpg');
          background-size: cover;
        "
      >
        <div class="slide-content">
          <div>
            <span class="material-symbols-outlined icon"> vital_signs </span>
            <span>100% geniune Medicine</span>
          </div>
          <h2>WELCOME TO OUR SHOP</h2>
          <button class="btn slider-btn">Shop Now</button>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="slide-container"
        style="
          background: url('/assets/Images/slider/3.jpg');
          background-size: cover;
        "
      >
        <div class="slide-content">
          <div>
            <span class="material-symbols-outlined icon"> vital_signs </span>
            <span>100% geniune Medicine</span>
          </div>
          <h2>WELCOME TO OUR SHOP</h2>
          <button class="btn slider-btn">Shop Now</button>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="slide-container"
        style="
          background: url('/assets/Images/slider/4.jpg');
          background-size: cover;
        "
      >
        <div class="slide-content">
          <div>
            <span class="material-symbols-outlined icon"> vital_signs </span>
            <span>100% geniune Medicine</span>
          </div>
          <h2>WELCOME TO OUR SHOP</h2>
          <button class="btn slider-btn">Shop Now</button>
        </div>
      </div>
    </ng-template>
  </swiper>
</section>
<section class="news-section">
  <h2 class="news__header">hello world</h2>
  <div class="news__wrapper">
    <div class="news__card">
      <div class="img-container">
        <img src="https://picsum.photos/1000/600" alt="title" />
      </div>
      <div class="news__card-text">
        <h4 class="news__card-title">Our Latest Upgrades</h4>
        <p class="news__card-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          accusamus nihil dignissimos error maiores qui blanditiis sint eligendi
          impedit nobis!
        </p>
        <a class="news__card-more">
          Learn More
          <span class="material-symbols-outlined"> arrow_right_alt </span>
        </a>
      </div>
    </div>
    <div class="news__card">
      <div class="img-container">
        <img src="https://picsum.photos/1000/600" alt="title" />
      </div>
      <div class="news__card-text">
        <h4 class="news__card-title">Our Latest Upgrades</h4>
        <p class="news__card-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          accusamus nihil dignissimos error maiores qui blanditiis sint eligendi
          impedit nobis!
        </p>
        <a class="news__card-more">
          Learn More
          <span class="material-symbols-outlined"> arrow_right_alt </span>
        </a>
      </div>
    </div>
    <div class="news__card">
      <div class="img-container">
        <img src="https://picsum.photos/1000/600" alt="title" />
      </div>
      <div class="news__card-text">
        <h4 class="news__card-title">Our Latest Upgrades</h4>
        <p class="news__card-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          accusamus nihil dignissimos error maiores qui blanditiis sint eligendi
          impedit nobis!
        </p>
        <a class="news__card-more">
          Learn More
          <span class="material-symbols-outlined"> arrow_right_alt </span>
        </a>
      </div>
    </div>
  </div>
</section>
