<section class="banner-section">
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="10"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    [scrollbar]="{ draggable: true }"
    [loop]="true"
    [autoplay]="{ delay: 2500, disableOnInteraction: true }"
    [coverflowEffect]="{
      slideShadows: true,
      rotate: 15,
      stretch: 15,
      depth: 5,
      modifier: 5
    }"
  >
    <ng-template swiperSlide>
      <div
        class="slide-container"
        style="
          background: url('/assets/Images/slider/1.jpg');
          background-size: cover;
        "
      >
        <div class="slide-content">
          <div>
            <span class="material-symbols-outlined icon"> vital_signs </span>
            <span>100% geniune Medicine</span>
          </div>
          <h2>WELCOME TO OUR SHOP</h2>
          <button class="btn slider-btn">Shop Now</button>
        </div>
      </div>
      <!-- <div></div>  add background-image on div and put the text inside the div-->
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="slide-container"
        style="
          background: url('/assets/Images/slider/2.jpg');
          background-size: cover;
        "
      >
        <div class="slide-content">
          <div>
            <span class="material-symbols-outlined icon"> vital_signs </span>
            <span>100% geniune Medicine</span>
          </div>
          <h2>WELCOME TO OUR SHOP</h2>
          <button class="btn slider-btn">Shop Now</button>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="slide-container"
        style="
          background: url('/assets/Images/slider/3.jpg');
          background-size: cover;
        "
      >
        <div class="slide-content">
          <div>
            <span class="material-symbols-outlined icon"> vital_signs </span>
            <span>100% geniune Medicine</span>
          </div>
          <h2>WELCOME TO OUR SHOP</h2>
          <button class="btn slider-btn">Shop Now</button>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="slide-container"
        style="
          background: url('/assets/Images/slider/4.jpg');
          background-size: cover;
        "
      >
        <div class="slide-content">
          <div>
            <span class="material-symbols-outlined icon"> vital_signs </span>
            <span>100% geniune Medicine</span>
          </div>
          <h2>WELCOME TO OUR SHOP</h2>
          <button class="btn slider-btn">Shop Now</button>
        </div>
      </div>
    </ng-template>
  </swiper>
</section>

<!--  NOTE  News -->
<section>
  <app-news-cards></app-news-cards>
</section>

<section>
  <app-home-second></app-home-second>
</section>

<!-- NOTE About -->
<section class="service-section">
  <div class="service">
    <div class="container">
      <div class="row">
        <div class="img-row">
          <img src="../../../assets/Images/items/1.png" alt="Image" />
        </div>
        <div class="content-row">
          <div class="content">
            <div class="first-content">
              <h3 class="about-head">About Us</h3>
              <h1 class="header">
                Your faithful partners <br />
                Medical Goods
              </h1>
              <p>
                Over 39,000 people work for us in more than 70 countries all
                over the This breadth of global coverage, combined with
                specialist services
              </p>
            </div>
            <div class="first-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur.
              </p>
            </div>
            <div class="btn-about">
              <button>about us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feedback-section">
  <app-feedback></app-feedback>
</section>
