@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

.banner-section {
  margin-bottom: 95vh;
}
.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  &-slide img {
    width: 100%;
    height: 100%;
  }
  &-button {
    &-next,
    &-prev {
      color: #fff;
      background-color: #000;
      opacity: 0.5;
      width: 8rem;
      height: 8rem;
      border-radius: 100%;
    }
  }

  &-pagination-bullet-active {
    background-color: white;
  }
  &-pagination-bullet {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.news-section {
}

@media only screen and (max-width: 768px) {
  .banner-section {
    margin-bottom: 95vh;
  }
}
