@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "../../../sass/components/btn";
@import "../../../sass/abstract/mixins";

.banner-section {
  margin-bottom: 95vh;
}
.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  &-slide .slide-container {
    width: 100%;
    height: 100%;
    position: relative;
    .slide-content {
      position: absolute;
      top: 45%;
      left: 16.5%;
      div {
        @include ver-centering;
        gap: 0.4rem;
        margin-bottom: 1.6rem;
        color: $primary-color;
      }
      h2 {
        margin-bottom: 2.4rem;
        font-size: 3.2rem;
      }
    }
  }
  &-button {
    &-next,
    &-prev {
      color: #fff;
      background-color: #000;
      opacity: 0.5;
      width: 8rem;
      height: 8rem;
      border-radius: 100%;
    }
  }

  &-pagination-bullet-active {
    background-color: $primary-color;
  }
  &-pagination-bullet {
    width: 1.6rem;
    height: 1.6rem;
    // width: 8rem;
    // height: 1.6rem;
    // border-radius: 20px;
  }
}
.news-section {
  h2 {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .banner-section {
    margin-bottom: 95vh;
  }
}
