<section class="faq-section">
  <div class="faq-container">
    <div class="container-faq">
      <div class="faq-q">
        <details>
          <summary>How to buy a product?</summary>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Scelerisque
            eleifend donec vulputate sapien nec sagittis.
          </div>
        </details>
        <hr />
        <details>
          <summary>How can i make refund from your website?</summary>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Scelerisque
            eleifend donec vulputate sapien nec sagittis.
          </div>
        </details>
        <hr />
        <details>
          <summary>I am a new user. How should I start?</summary>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Scelerisque
            eleifend donec vulputate sapien nec sagittis.
          </div>
        </details>
        <hr />

        <details>
          <summary>Are my details secured?</summary>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Scelerisque
            eleifend donec vulputate sapien nec sagittis.
          </div>
        </details>
        <hr />

        <details>
          <summary>How do I make payment by my credit card</summary>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Scelerisque
            eleifend donec vulputate sapien nec sagittis.
          </div>
        </details>
      </div>
      <div class="faq-contact">
        <div>
          <h1>Still need help? Reach out to support 24/7:</h1>
        </div>
        <div>
          <a class="btn" routerLink="/contact">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="faq-img">
      <img src="/assets/Images/mask.jpg" />
    </div>
  </div>
</section>

<section class="reviews-section">
  <div class="reviews-container">
    <div>
      <span class="material-symbols-outlined"> person_add </span>
      <h2>733+</h2>
      <p>Active Clients</p>
    </div>
    <div>
      <span class="material-symbols-outlined"> groups </span>
      <h2>33K+</h2>
      <p>Group</p>
    </div>
    <div>
      <span class="material-symbols-outlined"> star_rate </span>
      <h2>100+</h2>
      <p>Get Rewards</p>
    </div>
    <div>
      <span class="material-symbols-outlined"> pin_drop </span>
      <h2>21+</h2>
      <p>Country Cover</p>
    </div>
  </div>
</section>
