<div class="login">
  <div>
    <h2 class="login__header">
      Sign In <span class="login__header--sub">To Your Account</span>
    </h2>
    <p class="login__header--small">
      We are happy to have you on the journey with us.
    </p>
  </div>
  <div class="login__options">
    <form method="post" [formGroup]="loginForm" class="login__form">
      <input
        formControlName="email"
        type="text"
        placeholder="Email"
        class="input"
        [ngClass]="
          !emailValid && loginForm.controls['email'].value
            ? 'input-invalid'
            : loginForm.controls['email'].value
            ? 'input-valid'
            : ''
        "
      />
      <p
        *ngIf="!emailValid && loginForm.controls['email'].value"
        style="color: red"
      >
        Email is not valid
      </p>
      <br />
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="input"
        [ngClass]="
          !passwordValid && loginForm.controls['password'].value
            ? 'input-invalid'
            : loginForm.controls['password'].value
            ? 'input-valid'
            : ''
        "
      />
      <p
        *ngIf="!passwordValid && loginForm.controls['password'].value"
        style="color: red"
      >
        Password is not valid
      </p>
      <div class="form__login-container">
        <button class="btn login-btn">Login</button>
      </div>
      <a href="#" class="forgot">FORGOTTEN YOUR PASSWORD?</a>
    </form>
    <div class="login__create">
      <h3 class="create__header">DON'T HAVE AN ACCOUNT?</h3>
      <p class="create__description">
        Add items to your wishlistget personalised recommendations check out
        more quickly track your orders register
      </p>
      <button class="btn login-btn">CREATE ACCOUNT</button>
    </div>
  </div>
</div>
