@import "../../../sass/abstract/mixins";
@import "../../../sass/components/input";
@import "../../../sass/components/btn";

.login {
  margin-bottom: 25rem;
}

.login-btn {
  padding: 1.9rem 3.8rem;
}

.login__header {
  font-size: 4.2rem;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 1.6rem;
  &--sub {
    display: block;
  }
}
.login__header--small {
  color: $dark-gray-color;
  text-align: center;
  margin-bottom: 8rem;
}
.login__options {
  display: flex;
  justify-content: space-between;
  width: 62%;
  margin: 0 auto;
}
.login__form {
  flex: 1;
  input {
    width: 90%;
  }
}
.login__create {
  flex: 1;
  text-align: center;
}

.forgot {
  display: inline-block;
  margin: 3.2rem 0;
  color: $dark-gray-color;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  transition: 0.3s color;
  &:hover {
    color: $primary-color;
  }
}

.create__header {
  margin-bottom: 2.4rem;
  font-size: 1.9rem;
}

.create__description {
  color: $dark-gray-color;
  line-height: 1.3;
  margin-bottom: 3.2rem;
  padding: 0 3.2rem;
}

@media only screen and (max-width: 992px) {
  .login__options {
    flex-direction: column;
  }
  .login__form {
    margin-bottom: 4.8rem;
  }
  .form__login-container {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .login__options {
    width: 85%;
  }
}
