@import "../abstract/variables";

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ver-centering {
  display: flex;
  align-items: center;
}

@mixin hor-centering {
  display: flex;
  justify-content: center;
}

@mixin border {
  border: 1px solid $border-color;
}

@mixin placeholder {
  font-size: 1.5rem;
}
