//colors
$primary-color: #0a9a73;
$white-color: white;
$dark-gray-color: #5c727d;
$light-gray-color: #e4ecf2;
$black-color: black;
$border-color: rgb(220, 220, 220);
$form-color: rgb(244, 244, 244);

//text
$text-decoration: none;

//list
$list-style: none;

//input
$inpHeight: 60px;
$inpWidth: 420px;

//buttons
$btnHeight: 60px;
$btnWidth: 180px;

//border
$border-radius: 8px;
$border-radius-sm: 2px;
//font
$font: sans-serif;
$font-weight: bold;
