//colors
$primary-color: #0a9a73;
$white-color: white;
$dark-gray-color: #5c727d;
$light-gray-color: #e4ecf2;
$light-gray2-color: #ededed;
$black-color: black;
$border-color: rgb(220, 220, 220);
$form-color: rgb(244, 244, 244);

//text
$text-decoration: none;

//list
$list-style: none;

//input
$inpHeight: 6rem;
$inpWidth: 42rem;

//buttons
$btnHeight: 6rem;
$btnWidth: 18rem;
$cursor: pointer;

//border
$border-radius: 0.8rem;
$border-radius-sm: 0.2rem;
//font
$font: sans-serif;
$font-weight: bold;

$box-shadow: 0 2px 2px $border-color;
