<!-- <div *ngIf="item" class=""> wrap the item in if so we dont get an error prior loading
</div> -->

<article>
  <div class="container">
    <div class="item-container">
      <div class="item__image-container">
        <img src="/assets/Images/items/1_med.png" />
      </div>
      <div class="item-info">
        <div class="item-info__details">
          <h2 class="item-info__details-name">Hand Sanitizer</h2>
          <h3 class="item-info__details-price">$49.00</h3>
          <p class="item-info__details-category">
            Categories: <span> Sanitizer, Safety-kit</span>
          </p>
          <div class="item-info__expiration">
            <h4>Expiry/date: <span>6/2023</span></h4>
            <h4>Amount: <span>6</span></h4>
          </div>
          <div class="item-controls">
            <div class="item-controls__quantity">
              <div class="item-controls__decrease" (click)="decrease()">
                &minus;
              </div>
              <span class="item-controls__quantity-value">{{ quantity }}</span>
              <div class="item-controls__increase" (click)="increase()">+</div>
            </div>
            <button class="btn item-controls__cart">
              <span class="material-symbols-outlined"> shopping_cart </span> ADD
              TO CART
            </button>
          </div>
        </div>
      </div>
      <div class="top-rated">
        <div class="top-rated__header">
          <span class="top-rated__header-line"></span>
          <h4 class="top-rated__header-main">Top Rated Product</h4>
        </div>
        <div class="top-rated__products">
          <div class="top-rated__product">
            <div class="top-rated__image-container">
              <img src="/assets/Images/items/2.png" alt="" />
            </div>
            <div class="top-rated__info">
              <h6>Mixel Solid Seat Cover</h6>
              <h5>$49.00</h5>
            </div>
          </div>
          <div class="top-rated__product">
            <div class="top-rated__image-container">
              <img src="/assets/Images/items/1.png" alt="" />
            </div>
            <div class="top-rated__info">
              <h6>Thermometer Gun</h6>
              <h5>$49.00</h5>
            </div>
          </div>
          <div class="top-rated__product">
            <div class="top-rated__image-container">
              <img src="/assets/Images/items/3.png" alt="" />
            </div>
            <div class="top-rated__info">
              <h6>Coil Spring Conversion</h6>
              <h5>$49.00</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-description">
      <h3>Description</h3>
      <div>
        <h2 class="item-description__head">Lorem ipsum dolor sit amet elit.</h2>
        <p class="item-description__info">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Sed ut
          perspiciatis unde omnis iste natus error sit voluptatem, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
          consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit, sed quia non numquam eius modi tempora
          incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
      </div>
    </div>
  </div>
</article>
