@import "../abstract/variables";

.btn {
  text-transform: uppercase;
  border-radius: $border-radius-sm;
  color: #fff;
  padding: 1.9rem 3.8rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
  background-color: $primary-color;
  &:hover {
    background-color: darken($color: $primary-color, $amount: 15);
  }
}

@media only screen and (max-width: 1200px) {
  .btn {
    padding: 1.9rem 1.5rem;
  }
}
