<div class="profile-container">
  <div class="tab">
    <ul class="tab_item">
      <li
        id="profile"
        [class.color]="id === 'profile'"
        (click)="tabChange('profile')"
      >
        Profile Data
      </li>
      <li
        id="orders"
        [class.color]="id === 'orders'"
        (click)="tabChange('orders')"
      >
        My Orders
      </li>
      <!-- <li
        id="products"
        [class.color]="id === 'products'"
        (click)="tabChange('products')"
      >
        My Products
      </li> -->
    </ul>
    <div class="tab_content">
      <div class="tab_content_value" *ngIf="id === 'profile'">
        <div class="profile">
          <div class="edit-icon" (click)="edit()" *ngIf="!isEdit">
            <i class="fa-solid fa-pen"></i>
          </div>
          <div class="profile__img">
            <div class="profile__img__container">
              <img [src]="user?.profileImage" alt="" />
              <div class="profile__img__container__upload-icon" *ngIf="isEdit">
                <!-- <i class="fa-solid fa-camera"></i> -->
                <input type="file" />
                <i class="fas fa-camera"></i>
              </div>
            </div>
          </div>
          <div class="profile__data">
            <div class="profile__container">
              <form>
                <div class="row">
                  <div class="column">
                    <div>
                      <label for="name">Name</label>
                      <div class="input-box">
                        <i class="fa-solid fa-user icon"></i>
                        <input
                          type="text"
                          name="name"
                          [value]="user?.name"
                          [readonly]="!isEdit"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div>
                      <label for="address">Address</label>
                      <div class="input-box">
                        <!-- <i class="fa-solid fa-user icon"></i> -->
                        <i class="fa-solid fa-location-dot icon"></i>
                        <input
                          type="text"
                          name="address"
                          [value]="user?.address"
                          [readonly]="!isEdit"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="column">
                    <div>
                      <label for="email">Email</label>
                      <div class="input-box">
                        <i class="fas fa-envelope icon"></i>
                        <!-- <i class="far fa-envelope icon"></i> -->
                        <input
                          type="email"
                          name="email"
                          [value]="user?.email"
                          [readonly]="!isEdit"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div>
                      <label for="password">Password</label>
                      <div class="input-box">
                        <i class="fas fa-lock icon"></i>
                        <input
                          type="password"
                          name="password"
                          [value]="user?.password"
                          [readonly]="isEdit"
                        />
                        <span
                          class="edit-password"
                          *ngIf="isEdit"
                          (click)="addOverlay()"
                        >
                          <i class="fa-solid fa-pen"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="button-container">
                  <button
                    type="submit"
                    class="button-container__save"
                    (click)="edit()"
                    *ngIf="isEdit"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>

            <!-- ####################### Modal|Overlay (Change Password) ######################### -->

            <div class="change-pass-container" *ngIf="toggleOverlay">
              <div class="overlay" (click)="toggleClose()"></div>
              <div class="div-overlay">
                <h3>Change Password</h3>
                <form>
                  <div>
                    <label for="current-password">Current password</label>
                    <div class="input-box">
                      <!-- <i class="fas fa-lock icon"></i> -->
                      <input type="password" id="current-password" />
                    </div>
                  </div>
                  <div>
                    <label for="new-password">New password</label>
                    <div class="input-box">
                      <input type="password" id="new-password" />
                    </div>
                  </div>
                  <div>
                    <label for="confirm-password">Confirm new password</label>
                    <div class="input-box">
                      <input type="password" id="confirm-password" />
                    </div>
                  </div>

                  <div class="button-container">
                    <button type="submit" class="button-container__save-change">
                      Save Changes
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ####################### My Orders (Tab Content) ######################### -->

      <div class="tab_content_value" *ngIf="id === 'orders'">
        <div class="orders">
          <table class="orders__table">
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Status</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td data-th="Order">{{ order?._id }}</td>
                <td data-th="Date">{{ order?.createdAt.substring(0, 10) }}</td>
                <td data-th="Status">{{ order?.status }}</td>
                <td data-th="Total">{{ order?.total }} L.E</td>
                <td data-th="Action">View</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- ####################### My Products (Tab Content) ######################### -->

      <!--  -->
    </div>
  </div>
</div>
