/* You can add global styles to this file, and also import other style files */

//abstract
@import "./sass/abstract/variables";
@import "./sass/abstract/mixins";

//vendor

//base
@import "./sass/base/reset";

//layout

//component

//pages

//themes
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

// @media only screen and (max-width: 600px) {
//   html {
//     font-size: 50%;
//   }
// }
