.checkout-section {
  font-family: sans-serif;
  display: flex;
  margin: 0 auto;
  width: 75%;
  height: 4rem;
  background-color: rgb(244, 244, 244);
  margin-top: 6rem;
  margin-bottom: 3.5rem;
}
.checkout-section .checkout-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}
.checkout-section .checkout-header h4:first-child {
  margin-left: 2rem;
}
.checkout-section .checkout-header h4:last-child {
  color: #0A9A73;
  cursor: pointer;
}

.billing-section {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 4.5rem;
}
.billing-section .billing-header {
  margin-bottom: 1.5rem;
  height: 1.6rem;
  border-left: 2px solid #0A9A73;
}
.billing-section .billing-header h3 {
  margin-left: 0.7rem;
}
.billing-section .billing-form {
  border: 1px solid rgb(220, 220, 220);
}
.billing-section .billing-form form .form-header {
  margin: 1.6rem 0 1rem 1.6rem;
}
.billing-section .billing-form form .billing-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.billing-section .billing-form form .billing-input div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.billing-section .billing-form form .billing-input div input {
  width: 46%;
  height: 60px;
  margin: 0.4rem;
  border: 1px solid rgb(220, 220, 220);
}
.billing-section .billing-form form .billing-input div input:focus {
  outline: none;
  border: 1px solid #0A9A73;
}
.billing-section .billing-form form .billing-input div input::-moz-placeholder {
  font-size: 15px;
  padding: 15px;
}
.billing-section .billing-form form .billing-input div input::placeholder {
  font-size: 15px;
  padding: 15px;
}
.billing-section .billing-form form .billing-input div:last-child {
  display: flex;
  justify-content: center;
}
.billing-section .billing-form form .billing-input div:last-child input {
  width: 93.1%;
  margin-bottom: 2rem;
}
.billing-section .billing-form form .billing-input div p {
  display: block;
}
.billing-section .billing-form form .billing-btn button {
  background-color: #0A9A73;
  border: none;
  width: 180px;
  height: 60px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 1.5rem 2.4rem;
  cursor: pointer;
  border-radius: 8px;
}
.billing-section .billing-form form .billing-btn button:hover {
  background-color: black;
}

@media (max-width: 600px) {
  .checkout-section .checkout-header {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .billing-section .billing-form form .billing-input div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .billing-section .billing-form form .billing-input div input {
    width: 90%;
    margin-bottom: 0.2rem;
  }
  .billing-section .billing-form form .billing-input div:nth-child(4) input {
    width: 90%;
    margin-bottom: 0.2rem;
  }
  .billing-section .billing-form form .billing-input div:last-child input {
    width: 90%;
    margin-bottom: 0.2rem;
  }
  .billing-section .billing-form form .billing-btn button {
    width: 8rem;
    height: 3rem;
    margin-top: 1rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=checkout.component.css.map */