<!-- NOTE  News -->
<section class="news-section">
  <div class="news__header"></div>
  <div class="news__wrapper">
    <div class="news__card">
      <div class="img-container">
        <img
          src="https://tunatheme.com/tf/html/vicodin-preview/vicodin/img/service/32.jpg"
          alt="title"
        />
      </div>
      <div class="news__card-text">
        <h4 class="news__card-title">Our Latest Upgrades</h4>
        <p class="news__card-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          accusamus nihil dignissimos error maiores qui blanditiis sint eligendi
          impedit nobis!
        </p>
        <a class="news__card-more">
          Learn More
          <span class="material-symbols-outlined" routerLink="/news/news.id">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <div class="news__card">
      <div class="img-container">
        <img
          src="https://tunatheme.com/tf/html/vicodin-preview/vicodin/img/blog/blog-details/1.jpg"
          alt="title"
        />
      </div>
      <div class="news__card-text">
        <h4 class="news__card-title">Our Latest Upgrades</h4>
        <p class="news__card-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          accusamus nihil dignissimos error maiores qui blanditiis sint eligendi
          impedit nobis!
        </p>
        <a class="news__card-more">
          Learn More
          <span class="material-symbols-outlined" routerLink="/news/news.id">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <div class="news__card">
      <div class="img-container">
        <img
          src="https://tunatheme.com/tf/html/vicodin-preview/vicodin/img/service/31.jpg"
          alt="title"
        />
      </div>
      <div class="news__card-text">
        <h4 class="news__card-title">Our Latest Upgrades</h4>
        <p class="news__card-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
          accusamus nihil dignissimos error maiores qui blanditiis sint eligendi
          impedit nobis!
        </p>
        <a class="news__card-more">
          Learn More
          <span class="material-symbols-outlined" routerLink="/news/news.id">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
